node_modules
.pnpm-store
.next
out
dist

# Env and logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# VCS and editor
.git
.gitignore
.vscode
.DS_Store

# Tests and coverage
coverage

# Misc
*.local
